.main-frame {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
}



.content-section {
  display: flex;
  height: 100%; width: 100%;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(215, 215, 215);
  width: 500px;
  height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

