.main-card {
    display: flex;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
}

.new-movie-form {
    color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1rem;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.075);
    border: solid rgba(255, 255, 255, 0.082) 2px;
}

.new-movie-form form {
    text-align: center;
}

.new-movie-form input, button {
    margin: 10px;
}

.footer {
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: fit-content;
}

.footer {
    margin-top: 20px;
    color: gray;
    justify-content: center;
}