.header{
    background-color: rgb(0, 0, 0);
    width: 100%;  
    margin-bottom: 20px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-block: 10px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* indispensable */
}

.header-title{
    margin: 0;
    margin-inline: 20px;
}