html {
  height: 100;
}

body {
  margin: 0;
  background-color: rgb(123, 123, 123);
  background-size: cover;
  background-repeat: no-repeat;
}

unused{background: linear-gradient(180deg, rgb(5, 0, 46) 0%, rgb(46, 0, 46) 100%);}